{% extends 'base.html' %}

{% block content %}


    <!--
           ==================================================
               Global Page Section Start
           ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>PICTURE GALLERY</h2>

                    </div>
                </div>
            </div>
        </div>
    </section><!--/#page-header-->







    <br/>



    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="/static/img/rccf/a.jpg">  <img src="/static/img/rccf/a.jpg" alt="" class="img-thumbnail"> </a>
            </div>
            <div class="col-md-4">
                <a href="/static/img/rccf/b.jpg">  <img src="/static/img/rccf/b.jpg" alt="..." class="img-thumbnail"></a>
            </div>
            <div class="col-md-4">
                <a href="/static/img/rccf/c.jpg"> <img src="/static/img/rccf/c.jpg" alt="..." class="img-thumbnail"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="/static/img/rccf/d.jpg">  <img src="/static/img/rccf/d.jpg" alt="..." class="img-thumbnail"></a>
            </div>
            <div class="col-md-4">
                <a href="/static/img/rccf/e.jpg">  <img src="/static/img/rccf/e.jpg" alt="..." class="img-thumbnail"></a>
            </div>
            <div class="col-md-4">
                <a href="/static/img/rccf/f.jpg">  <img src="/static/img/rccf/f.jpg" alt="..." class="img-thumbnail"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="/static/img/rccf/g.jpg">    <img src="/static/img/rccf/g.jpg" alt="..." class="img-thumbnail"></a>
            </div>
            <div class="col-md-4">
                <a href="/static/img/rccf/h.jpg"> <img src="/static/img/rccf/h.jpg" alt="..." class="img-thumbnail"></a>
            </div>
            <div class="col-md-4">
                <a href="/static/img/rccf/i.jpg"> <img src="/static/img/rccf/i.jpg" alt="..." class="img-thumbnail"></a>
            </div>
        </div>
    </div>

    <br/>


    <section id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1 class="title" data-wow-delay=".3s" data-wow-duration="500ms">NEWS LETTER</h1>
                            <p class=data-wow-delay=".5s" data-wow-duration="500ms">SUBSCRIBE TO OUR NEWSLETTER ...<br>
                                By signing up for RCFSFA email notification, you agree to our Terms of Use and Privacy Policy, and to receive latest news and updates as Touching RCFSFA </p>
                            <a href="contact.html" class="btn btn-default btn-contact wow " data-wow-delay=".7s" data-wow-duration="500ms">Sign Up</a>
                    </div>
                </div>

            </div>
        </div>
    </section>



{% endblock %}