<!DOCTYPE html>
<html class="no-js">
    <head>
        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="icon" type="image/png" href="images/favicon.png">
        <title>The Redeemed Fellowship Senior Friends' Association</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Template CSS Files
        ================================================== -->
        <!-- Twitter Bootstrs CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <!-- Ionicons Fonts Css -->
        <link rel="stylesheet" href="css/ionicons.min.css">
        <!-- animate css -->
        <link rel="stylesheet" href="css/animate.css">
        <!-- Hero area slider css-->
        <link rel="stylesheet" href="css/slider.css">
        <!-- owl craousel css -->
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/owl.theme.css">
        <link rel="stylesheet" href="css/jquery.fancybox.css">
        <!-- template main css file -->
        <link rel="stylesheet" href="css/main.css">
        <!-- responsive css -->
        <link rel="stylesheet" href="css/responsive.css">
        
        <!-- Template Javascript Files
        ================================================== -->
        <!-- modernizr js -->
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <!-- jquery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <!-- owl carouserl js -->
        <script src="js/owl.carousel.min.js"></script>
        <!-- bootstrap js -->

        <script src="js/bootstrap.min.js"></script>
        <!-- wow js -->
        <script src="js/wow.min.js"></script>
        <!-- slider js -->
        <script src="js/slider.js"></script>
        <script src="js/jquery.fancybox.js"></script>
        <!-- template main js -->
        <script src="js/main.js"></script>
    </head>
    <body>
        <!--
        ==================================================
        Header Section Start
        ================================================== -->
        <header id="top-bar" class="navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <!-- /responsive nav button -->
                    
                    <!-- logo -->
                    <div class="navbar-brand">
                        <a href="index.html" >
                            <img src="images/images.jpg" alt="">
                        </a>
                    </div>
                    <!-- /logo -->
                </div>
                <!-- main menu -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <div class="main-menu">
                     <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="index.html" >Home</a>
                            </li>
                            <li><a href="about.html">About</a></li>

                            
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">MEMBER<span class="caret"></span></a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a href="alumini.html">Alumini</a></li>
                                        <li><a href="login.html">Login</a></li>
                                        <li><a href="register.html">Register</a></li>
                                    </ul>
                                </div>
                            </li>
                            
                            
                            
                        
                               <li><a href="blog.html">BLOG</a></li>
                            
                            <li><a href="contact.html">Contact</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">MORE<span class="caret"></span></a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a href="upcoming_events.html">Upcoming Events</a></li>
                                        <li><a href="reports.html">Reports</a></li>
                                         <li><a href="gallery.html">Gallery</a></li>
                                        
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        
                    </div>
                </nav>
                <!-- /main nav -->
            </div>
        </header>
        
        



 <section id="hero-area" >
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="block wow fadeInUp" data-wow-delay=".3s">
                            
                            <!-- Slider -->
                            <section class="cd-intro">
                                <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >
                                <span>The Redeemed Fellowship Senior Friends' Association</span><br>
                                <span class="cd-words-wrapper">
                                    <b class="is-visible">UNITED  
                                    <b>FOR<b> GREATER EXPLOITS</b>
                                 
                                </span>
                                </h1>
                                </section> <!-- cd-intro -->
                                <!-- /.slider -->
                                <h2 class="wow fadeInUp animated"  >
                                    Serving as a Role Model and Backbone to New and Existing Chapters<br> of Redeemed Christian Fellowship/Christian Corpers'Fellowship.
                                </h2>
                              
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section><!--/#main-slider-->
            <!--
            ==================================================
            Slider Section Start
            ================================================== -->
            





















 <!--
        ==================================================
        Global Page Section Start
        ================================================== -->
        
            <section id="blog-full-width">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                                <div class="blog-post-image">
                                    <a href="post-fullwidth.html"><img class="img-responsive" src="images/blog/post-1.jpg" alt="" /></a>
                                </div>
                                <div class="blog-content">
                                    <h2 class="blogpost-title">
                                    <a href="post-fullwidth.html">MADE BY DESIGN</a>
                                    </h2>
                                    
                                    <p>MADE BY DESIGN is an exclusive event that caters to key players in the luxury home and hospitality market featuring curated, exquisitely crafted home products and luxury brands uniquely integrated by top suppliers and sheltered within a venue that provides an authentic peer group collaboration and networking experience. The event is crafted specifically for luxury design enthusiasts who wish to actively showcase a high level of affluence and their success in luxury business. 
MISSION Our mission is to bring together the nation’s most prized and unique collection of luxury products, services and experiences for the worlds most discerning clientelle. To create “A Small World of Beautiful Things” and in doing so, create a world-class presentation of the complete and ultimate luxury design, hospitality and property brands in one venue. The event is backed by the powerful legacy of Essential Interiors Magazine. Our gold standard events and years in interior design business expertise ensures that this experience fills the particular needs relevant to luxury and hospitality providers in a most eloquent and powerful way. Made by Design is dedicated in unifying Nigeria’s elite with the most exclusive luxury properties, hospitality products and services in Nigeria.</p><br/>
<p>Email: design@essentialinteriorsng.com<br/>
Phone: +234 703 6029 761<br/>

Date: September 29th – October 2nd 2017</p>
                                    <a href="accomodation.html" class="btn btn-dafault btn-details">BOOK ACCOMODATION</a>
                                    <a href="single-post.html" class="btn btn-dafault btn-details">INTERESTED?</a>
                                </div>
                                
                            </article>
                            <article class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">
                                <div class="blog-post-image">
                                    
                                    <a href="post-fullwidth.html"><img class="img-responsive" src="images/blog/post-2.jpg " alt="" /></a>
                                </div>
                                  <div class="blog-content">
                                    <h2 class="blogpost-title">
                                    <a href="post-fullwidth.html">MADE BY DESIGN</a>
                                    </h2>
                                    
                                    <p>MADE BY DESIGN is an exclusive event that caters to key players in the luxury home and hospitality market featuring curated, exquisitely crafted home products and luxury brands uniquely integrated by top suppliers and sheltered within a venue that provides an authentic peer group collaboration and networking experience. The event is crafted specifically for luxury design enthusiasts who wish to actively showcase a high level of affluence and their success in luxury business. 
MISSION Our mission is to bring together the nation’s most prized and unique collection of luxury products, services and experiences for the worlds most discerning clientelle. To create “A Small World of Beautiful Things” and in doing so, create a world-class presentation of the complete and ultimate luxury design, hospitality and property brands in one venue. The event is backed by the powerful legacy of Essential Interiors Magazine. Our gold standard events and years in interior design business expertise ensures that this experience fills the particular needs relevant to luxury and hospitality providers in a most eloquent and powerful way. Made by Design is dedicated in unifying Nigeria’s elite with the most exclusive luxury properties, hospitality products and services in Nigeria.</p><br/>
<p>Email: design@essentialinteriorsng.com<br/>
Phone: +234 703 6029 761<br/>

Date: September 29th – October 2nd 2017</p>
                                    <a href="accomodation.html" class="btn btn-dafault btn-details">BOOK ACCOMODATION</a>
                                    <a href="single-post.html" class="btn btn-dafault btn-details">INTERESTED?</a>
                                </div>
                                
                            </article>
                            <article class="wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">
                                <div class="blog-post-image">
                                    <a href="post-fullwidth.html"><img class="img-responsive" src="images/blog/post-3.jpg" alt="" /></a>
                                </div>
                                  <div class="blog-content">
                                    <h2 class="blogpost-title">
                                    <a href="post-fullwidth.html">MADE BY DESIGN</a>
                                    </h2>
                                    
                                    <p>MADE BY DESIGN is an exclusive event that caters to key players in the luxury home and hospitality market featuring curated, exquisitely crafted home products and luxury brands uniquely integrated by top suppliers and sheltered within a venue that provides an authentic peer group collaboration and networking experience. The event is crafted specifically for luxury design enthusiasts who wish to actively showcase a high level of affluence and their success in luxury business. 
MISSION Our mission is to bring together the nation’s most prized and unique collection of luxury products, services and experiences for the worlds most discerning clientelle. To create “A Small World of Beautiful Things” and in doing so, create a world-class presentation of the complete and ultimate luxury design, hospitality and property brands in one venue. The event is backed by the powerful legacy of Essential Interiors Magazine. Our gold standard events and years in interior design business expertise ensures that this experience fills the particular needs relevant to luxury and hospitality providers in a most eloquent and powerful way. Made by Design is dedicated in unifying Nigeria’s elite with the most exclusive luxury properties, hospitality products and services in Nigeria.</p><br/>
<p>Email: design@essentialinteriorsng.com<br/>
Phone: +234 703 6029 761<br/>

Date: September 29th – October 2nd 2017</p>
                                    <a href="accomodation.html" class="btn btn-dafault btn-details">BOOK ACCOMODATION</a>
                                    <a href="single-post.html" class="btn btn-dafault btn-details">INTERESTED?</a>
                                </div>
                                
                            </article>
                        </div>
                        









<div class="col-md-4">
                            <div class="sidebar">
                                <div class="search widget">
                                   <div class="box">
                <div class="box-icon">
                    <span class="fa fa-4x fa-twitter"></span>
                </div>
                <div class="info">
                    <h4 class="text-center">Follow Us On Twitter</h4>
                  <a class="twitter-timeline" href="https://twitter.com/drgnlover" width="500" data-widget-id="557393256297029634">Tweets by @RCFSFA</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
            </div> 
                                    </div>
                                    <div class="author widget">
                                         <div class="box">
                <div class="box-icon">
                    <span class="fa fa-4x fa-facebook"></span>
                </div>
                <div class="info">
                    <h4 class="text-center">Find Us On Facebook</h4>
                 <iframe id="facebook-feed" src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Ffringe&width=500&height=300&show_faces=true&colorscheme=light&stream=true&border_color&header=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:100px;" allowTransparency="true"></iframe>
                </div>
            </div>



                                    </div>
                                     
                                    </div>
                                
                            </div>
                        </div>
                    </section>

















                    </section>
                    <!--
                    ==================================================
                    Call To Action Section Start
                    ================================================== -->
                    <section id="call-to-action">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="block">
                                        <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="300ms">

SUBSCRIBE TO OUR NEWSLETTER ...
</h1>
                                        <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="300ms">By signing up for RCFSFA email notification, you agree to our Terms of Use and Privacy Policy,</br> and to receive latest news and updates as Touching RCFSFA...</p>
                                        <a href="contact.html" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="300ms">SIGN UP</a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </section>
                    <!--
                    ==================================================
                    Footer Section Start
                    ================================================== -->
                    <footer id="footer">
                        <div class="container">
                            <div class="col-md-8">
                                <p class="copyright">Copyright: <span>2017</span> by <a href="http://www.gloryiconlimited.com">Glory Icon Nigeria Limited</a></p>
                            </div>
                            <div class="col-md-4">
                                <!-- Social Media -->
                                <ul class="social">
                                    <li>
                                        <a href="#" class="Facebook">
                                            <i class="ion-social-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="Twitter">
                                            <i class="ion-social-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="Linkedin">
                                            <i class="ion-social-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="Google Plus">
                                            <i class="ion-social-googleplus"></i>
                                        </a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </footer> <!-- /#footer -->
                        
                    </body>
                </html>
            </html>
